* {
    box-sizing: border-box;
    }

body{

    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

p{

    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5;
    text-indent: 30px; 
    color: rgba(0,0,0,.8);
}

img{
    width: 100%;
    height: auto; 
    display: block;
}