* {
    box-sizing: border-box;
    }

    html, body {
        overflow-x:hidden; 
      } 

body{
    font-family: 'Lato', sans-serif;
}

p{
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5;
 
    color: rgba(0,0,0,.8);
}

img{
    width: 100%;
    height: auto; 
    display: block;
}