.about-us{

    background-color: $gold;
    clip-path: polygon(0 calc(0% + 5vw), 100% 0, 100% 100%, 0% 100%); 
    margin-top: -5vw;  
    position: relative;
    text-align: center;
  
   &::before{
       content: "";
       position: absolute;
       z-index: -1;
       top: 8px;
       width: 100%;
       left: 0;
       bottom: 0;    
       background: $blue;
       clip-path: polygon(0 calc(0% + 5vw), 100% 0, 100% 100%, 0% 100%);
   }

}