
.owl-stage-outer{
    padding: 15px 0;
}

.owl-item:not(.center){
    opacity: .5;
}

.owl-item.center{
    position: relative;
}

.owl-item.center:after{
    content: "";
    border: 10px solid rgb(227,227,227);
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;   
}
.owl-theme .owl-dots .owl-dot span{
    background: $gold;
    opacity: .5;

}

.owl-theme .owl-dots .owl-dot.active span{
    background: $gold;
    opacity: .8;
}









