.header{

    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0% 100%);
    margin-bottom: -5vw;
   
    &__photo{
     height: 90vh;
     background-image: url('../../assets/images/header-photo-small.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

     @mixin atSmall{
        background-image: url('../../assets/images/header-photo-medium.jpg');
     }

     @mixin atExtraLarge{
        background-image: url('../../assets/images/header-photo-large.jpg');
     }

     @mixin atHiDpi{
        background-image: url('../../assets/images/header-photo-hi-dpi.jpg');
     }
    }

    /* &__txt-overlay{
        font-size: 20px;
        box-shadow: 0px 0px 5px $gold;
        padding: 15px;
        padding-right: 50px;
        text-align:right;
        color: rgba(0,0,0,.7);
        min-width: 500px;
       
       position: absolute;
       background: rgba(255,255,255, .7);
       right: 0;
     
       bottom: 50%;
       transform: translateY(50%);
 
       h3{
           color: $gold;
           font-size: 25px;
       }
    } */
}