.headline{  
    font-weight: normal;

    &--300{
        font-weight: 300;
    }

    &--inline-block{
        display: inline-block;
    }

    &--center{
        text-align: center;
    }
    &--font-30px{
        font-size: 1.875rem;
    }

    &--font-32px{
        font-size: 2rem;
    }

    &--font-75px{
        font-size: 4.6875rem;
    }

    &--gold{
        color: $gold;
    }

    &--white{ 
        color: $yellow;
    }

    &--margin-top-0{
        margin-top: 0;
    }

    &--margin-bottom-0{
        margin-bottom: 0;
    }

    &--after{
        
        @mixin atMedium{
            &:after{
                content: "";
                display:block;
                height: 2px;
                width: 20%;
                background: $gold;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
       
    }

   
}