
.offer{
    font-size: 1.25rem;
    font-weight: 300;

    @keyframes flash {
        from{ opacity: .3;}
        to {opacity: 1;}
    }

    &--flash{  
        animation-name: flash;
       animation-duration: 1s; 
    }

    &__left{
        background-color: rgb(227,227,227); 
        padding: 1rem 1.125rem; 
        
        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(-100%);
        transition: all .5s ease-in;
        opacity: 0;

        &--show{
            transform: translateX(0%); 
            opacity: 1;
        }

        @mixin atLarge{   
            padding:  3.125rem 1.125rem;
        }
    }
 
    &__right{
        background-color: $blue;
        padding: 1rem 1.125rem; 

        transform: translateX(100%);
        transition: all .5s ease-in;
        opacity: 0;

        &--show{
            transform: translateX(0%); 
            opacity: 1;
        }

        @mixin atLarge{   
            padding:  3.125rem 1.125rem;
        }
    }

    &__img-wrapper{
           
        @mixin atMedium{   
            max-width: 80%;    
        }
        @mixin atLarge{   
            max-width: 60%; 
        }
        @mixin atExtraLarge{   
            max-width: 35%; 
        }
            
        &:nth-child(2){
            display: none;
             margin-top: 10%;
            margin-left: -20%; 
          
            @mixin atExtraLarge{
                max-width: 45%;
                display: block; 
            }
       }     
    }
    img{  
        @mixin atLarge{
            box-shadow: 0px 2px 4px rgba(0,0,0,.7);
        }
    }

    &__list{
        list-style-type: circle;      
    }

    &__list-item{
        margin-bottom: 15px;
    }
}



