.our-staff{
    margin-top: -2px;
    position: relative;
    background: $blue;
 
    @mixin atLarge{
        &.lazyloaded{
            background-image: url('../../assets/images/our-staff-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;       
        }
      }

    &__card-wrapper{ 

         @mixin atLarge{
            position: relative;
            min-height: 440px;
             /* perspective:800px;  */   
         }
    } 

    &__card{  
        background-color: #fff; 
        margin: 0px -1.25rem 2.5rem -1.25rem;
        
        @mixin atLarge{
            background: $blue;
            position: absolute;
            width:100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all 1.3s ease-out;
            box-shadow:0px 2px 4px rgba(0, 0, 0, 0.3);  
            margin: auto;

            .preserve3d &--flip-card{
                transform: rotateY(-180deg);
            } 
        }
    }

    &__card-title{
    font-size: 1.75rem;

        @mixin atLarge{
            transform: translateZ(1.5rem);
            font-size: 1.375rem;    
        }
    }

     &__txt{
        line-height: 1.2;
        text-align: center;
        padding: 1.25rem;
         
        @mixin atLarge{   
            transform: translateZ(2rem);
            font-size: 1.1rem;       
        }
    }

    &__staff-img{

        @mixin atMedium{   
            margin: 0 auto;
            width: 70%;    
        }

        @mixin atLarge{   
            width: 100%;    
        }
    
    }

    &__thefront{
        
        @mixin atLarge{
            background: $blue;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backface-visibility: hidden;
            transform-style: preserve-3d; 
            z-index: 1;    
            
            .preserve3d &{
                transform: rotateY(-180deg); 
            }
        }
    }

    &__theback{
        display: none;

        @mixin atLarge{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backface-visibility: hidden;
           transform-style: preserve-3d;
        }

        &::before{
            content: "";
            position: absolute;
            left: 15px;
            right: 15px;
            top: 15px;
            bottom: 15px;
            border: 1.5px solid rgba(0,0,0,.5);
            transform: translateZ(2rem);
        }
    }  

    &__theback-logo{   
        position: absolute;
        z-index: -1; 
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}























