.our-staff{
    margin-top: -2px;
    position: relative;
    z-index: 5;
    background: $blue;
 
   
  
    @mixin atLarge{
        background-image: url('../../assets/images/our-staff-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }

    &__card-wrapper{ 
        margin: 0px -18px 40px -18px;
        padding: 1px 0;    
       background-color: #fff;

         @mixin atLarge{
            background-color: transparent;
            position: relative;
            min-height: 440px;
             /* perspective:800px;  */
            margin: auto;

            &:hover .our-staff__card{
                transform: rotateY(-180deg);        
            }  
        }  

    } 

    &__card{   
      
        @mixin atLarge{
            background: $blue;
            position: absolute;
            width:100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all 1s ease-in;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;  
            margin: auto;
        }

    /* &--flip-card{
        transform: rotateY(180deg);
        } */
    }

    &__card-title{
    font-size: 1.75rem;

        @mixin atLarge{
            transform: translateZ(1.5rem);
            font-size: 1.375rem;
         
        }
    }

    &__txt{
        line-height: 1.2;
        text-align: center;
        color: black;
            
        @mixin atLarge{   
            transform: translateZ(2rem);
            text-indent: 30px; 
            font-size: 1.1rem;       
        }
    }

    &__staff-img{

        @mixin atMedium{   
            margin: 0 auto;
            max-width: 70vw;    
        }
    }

    &__thefront{

        @mixin atLarge{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backface-visibility: hidden;
            transform-style: preserve-3d; 
            transform: rotateY(-180deg);
        }
    }

    &__theback{
        display: none;

        @mixin atLarge{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            backface-visibility: hidden;
            transform-style: preserve-3d;  
        }

        &::before{
            content: "";
            position: absolute;
            left: 15px;
            right: 15px;
            top: 15px;
            bottom: 15px;
            border: 1.5px solid rgba(0,0,0,.5);
            transform: translateZ(2rem);
        }
    }  

    &__theback-logo{
        position: absolute;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}





















