.site-section{
    /* padding: 2.5rem 0; */
    padding: 1rem 0; 

    @mixin atLarge{
        &--more-padding-at-top-large{
            padding-top: 3.125rem; 
        }

        &--more-padding-at-bottom-large{
            padding-bottom: 3.125rem; 
        }
     
    }

    &--more-padding-at-top{
        padding-top: 3.125rem;
    }

    &--larger-padding-at-top{
        padding-top: 4.125rem;
    }

    &--double-padding-at-top{
        padding-top: 6.25rem;
    }

    &--double-padding-at-top-from-large{
        @mixin atLarge{
        padding-top: 6.25rem;
        }
    }

    &--more-padding-at-bottom{
        padding-bottom: 3.125rem;
    }

    &--more-padding-at-bottom-from-medium{
        @mixin atMedium{
        padding-bottom: 3.125rem;
        }
        
    }

    &--no-margin-top{
       margin-top: 0;
    }
}