.site-section{
    padding: 1rem 0; 

    @mixin atLarge{
        &--more-padding-at-top-large{
            padding-top: 3.125rem; 
        }

        &--more-padding-at-bottom-large{
            padding-bottom: 3.125rem; 
        } 

        &--double-padding-at-top-large{
            padding-top: 6.25rem;
        }
            
    }

    &--larger-padding-at-top{
        padding-top: 4.125rem;
    }

}