.site-section{
    padding: 1rem 0;

    &--more-padding-at-top{
        padding-top: 3.125rem;   
    }
 
    &--more-padding-at-top-large{
        @mixin atLarge{
            padding-top: 3.125rem; 
        }    
    }

    &--more-padding-at-bottom-large{
        @mixin atLarge{
            padding-bottom: 3.125rem; 
        } 
    } 
 
    
    &--larger-padding-at-top{
        padding-top: 4.125rem;
        @mixin atLarge{
            padding-top: 6.250rem; 
        }
    }

  

    /* @mixin atLarge{
        padding-top: 4.5rem; 
    }  */
}


