.wrapper{
    padding: 0 1.25rem;
    margin: 0 auto;

    &--width-80vw-large{
        @mixin atLarge{
            max-width: 80vw;
        }
    }
    &--width-80vw-extraLarge{
        @mixin atExtraLarge{
           max-width: 80vw;
        }
    }
    &--no-padding-x{
        padding: 0 0;
    }


   
   
        
}   

    